Repository databrickslabs/ucx, pull requests merged in 2025-02, with the labels that each got.

#3582 Make fixer diagnostic codes unique
  docs/ucx/docs/dev/contributing.mdx
  docs/ucx/docs/reference/linter_codes.mdx
  src/databricks/labs/ucx/source_code/base.py
  src/databricks/labs/ucx/source_code/linters/context.py
  src/databricks/labs/ucx/source_code/linters/from_table.py
  src/databricks/labs/ucx/source_code/linters/pyspark.py
  tests/integration/source_code/message_codes.py
  tests/unit/source_code/linters/test_context.py
  tests/unit/source_code/linters/test_from_table.py
  tests/unit/source_code/linters/test_linters.py
  tests/unit/source_code/linters/test_pyspark.py
  tests/unit/source_code/samples/functional/file-access/direct-fs2.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-cache-table.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-create-external-table.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-create-table.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-get-table.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-is-cached.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-list-columns.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-recover-partitions.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-refresh-table.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-table-exists.py
  tests/unit/source_code/samples/functional/pyspark/catalog/spark-catalog-uncache-table.py
  tests/unit/source_code/samples/functional/pyspark/dataframe-write-insert-into.py
  tests/unit/source_code/samples/functional/pyspark/dataframe-write-save-as-table.py
  tests/unit/source_code/samples/functional/pyspark/spark-table.py
  tests/unit/source_code/samples/functional/table-migration/table-migration-notebook.py
  tests/unit/source_code/samples/functional/table-migration/table-migration-notebook.sql
  tests/unit/source_code/test_base.py
  tests/unit/source_code/test_lsp_plugin.py
  tests/unit/source_code/test_queries.py
Labels: tech debt, migrate/code, migrate/python, python

#3581 Move graph walkers to separate module
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/jobs.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  tests/unit/source_code/linters/test_directfs.py
  tests/unit/source_code/linters/test_graph_walkers.py
  tests/unit/source_code/test_graph.py
  tests/unit/source_code/test_jobs.py
Labels: migrate/code, migrate/python, python, internal

#3535 Remove tree from `PythonSequentialLinter`
  src/databricks/labs/ucx/source_code/base.py
  src/databricks/labs/ucx/source_code/notebooks/sources.py
  src/databricks/labs/ucx/source_code/python/python_analyzer.py
  src/databricks/labs/ucx/source_code/python/python_ast.py
  tests/unit/source_code/notebooks/test_sources.py
  tests/unit/source_code/python/test_python_ast.py
  tests/unit/source_code/samples/simple_notebook.py
  tests/unit/source_code/samples/simple_notebook.yml
  tests/unit/source_code/test_functional.py
  tests/unit/source_code/test_notebook_linter.py
Labels: migrate/code, migrate/python, python

#3639 [TECH DEBT] Use `Language` on `LocalFile`, not `CellLanguage`
  src/databricks/labs/ucx/source_code/files.py
  tests/unit/source_code/test_files.py
Labels: migrate/code, migrate/python, python, internal

#3638 [TECH DEBT] Make session state public on `LinterContext` and access it from the context
  src/databricks/labs/ucx/source_code/known.py
  src/databricks/labs/ucx/source_code/linters/context.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/folders.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  src/databricks/labs/ucx/source_code/linters/jobs.py
  tests/unit/source_code/linters/test_graph_walkers.py
  tests/unit/source_code/notebooks/test_sources.py
  tests/unit/source_code/test_functional.py
Labels: migrate/code, migrate/python, python, internal

#3640 [TECH DEBT] Improve file handling by `FileLoader`
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/folders.py
  tests/unit/conftest.py
  tests/unit/source_code/test_dependencies.py
  tests/unit/source_code/test_files.py
Labels: migrate/code, migrate/python, python, internal

#3641 [TECH DEBT] Let `LocalFileLinter` reuse the `Dependency` instead falling back on its path
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/known.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  tests/unit/source_code/notebooks/test_sources.py
  tests/unit/source_code/test_files.py
  tests/unit/source_code/test_functional.py
Labels: pr/do-not-merge, migrate/code, migrate/python, python, internal

#3653 Support ignoring files and notebooks
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/notebooks/loaders.py
  tests/unit/source_code/notebooks/test_loaders.py
  tests/unit/source_code/test_dependencies.py
  tests/unit/source_code/test_files.py
Labels: migrate/code, migrate/python, python, internal

#3645 [TECH DEBT] Remove walked paths parameter from dependency graph walker
  src/databricks/labs/ucx/source_code/linters/folders.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  src/databricks/labs/ucx/source_code/linters/jobs.py
  tests/integration/source_code/solacc.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_graph_walkers.py
Labels: migrate/code, migrate/python, python, internal

#3631 Document to run `validate-groups-membership` before groups migration, not after
  docs/ucx/docs/reference/commands/index.mdx
  docs/ucx/docs/reference/workflows/index.mdx
  src/databricks/labs/ucx/queries/assessment/estimates/01_0_group_migration.md
Labels: documentation, migrate/groups

#3643 [REFACTOR] Make `allow_list` / `KnownList` optional
  src/databricks/labs/ucx/contexts/application.py
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/python_libraries.py
  tests/integration/source_code/test_graph.py
  tests/unit/conftest.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/notebooks/test_cells.py
  tests/unit/source_code/test_dependencies.py
  tests/unit/source_code/test_jobs.py
  tests/unit/source_code/test_notebook.py
  tests/unit/source_code/test_path_lookup_simulation.py
  tests/unit/source_code/test_python_libraries.py
  tests/unit/source_code/test_s3fs.py
Labels: migrate/code, migrate/python, python, internal

#3651 [TECH DEBT] Document and test `Folder` and `FolderLoader`
  src/databricks/labs/ucx/source_code/folders.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/test_folders.py
  tests/unit/source_code/test_graph.py
Labels: migrate/code, internal

#3661 Rename file language helper function
  src/databricks/labs/ucx/source_code/base.py
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  src/databricks/labs/ucx/source_code/notebooks/loaders.py
Labels: migrate/code, migrate/python, python

#3655 Surface known library problems during linting
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/known.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/folders.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  src/databricks/labs/ucx/source_code/python_libraries.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_folders.py
  tests/unit/source_code/test_files.py
  tests/unit/source_code/test_known.py
  tests/unit/source_code/test_s3fs.py
Labels: migrate/code, migrate/python, python

#3635 Force `MaybeDependency` to have a `Dependency` OR `list[Problem]`, not neither nor both
  src/databricks/labs/ucx/source_code/files.py
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/known.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/folders.py
  src/databricks/labs/ucx/source_code/python_libraries.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_folders.py
  tests/unit/source_code/samples/standard_libraries.py
  tests/unit/source_code/test_dependencies.py
  tests/unit/source_code/test_files.py
  tests/unit/source_code/test_graph.py
  tests/unit/source_code/test_known.py
  tests/unit/source_code/test_notebook.py
  tests/unit/source_code/test_path_lookup_simulation.py
  tests/unit/source_code/test_s3fs.py
Labels: migrate/code, python

#3684 Catch `AttributeError` in `InfferedValue._safe_infer_internal`
  src/databricks/labs/ucx/source_code/python/python_infer.py
Labels: migrate/python, python, upstream

#3679 Print the Solacc advices
  tests/integration/source_code/solacc.py
Labels: internal

#3694 Use new type field in issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: internal

#3580 Case sensitive/insensitive table validation
  src/databricks/labs/ucx/recon/base.py
  src/databricks/labs/ucx/recon/metadata_retriever.py
  src/databricks/labs/ucx/recon/schema_comparator.py
  tests/unit/recon/test_schema_comparator.py
Labels: migrate/tables

#3707 [DOCS] Explain when to run `remove-workspace-local-backup-groups` workflow
  docs/ucx/docs/reference/workflows/index.mdx
Labels: documentation

#3705 Broaden safe read text caught exception scope
  src/databricks/labs/ucx/source_code/base.py
  tests/unit/source_code/test_base.py
Labels: migrate/code, migrate/python, python

#3700 Update `migate-local-code` to use latest linter functionality
  labs.yml
  src/databricks/labs/ucx/cli.py
  src/databricks/labs/ucx/contexts/workspace_cli.py
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/linters/folders.py
  src/databricks/labs/ucx/source_code/linters/graph_walkers.py
  src/databricks/labs/ucx/source_code/linters/jobs.py
  tests/integration/source_code/linters/__init__.py
  tests/integration/source_code/linters/test_files.py
  tests/integration/source_code/solacc.py
  tests/integration/source_code/test_jobs.py
  tests/unit/contexts/test_application.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_folders.py
  tests/unit/source_code/linters/test_graph_walkers.py
  tests/unit/test_cli.py
Labels: migrate/python, python

#3693 Fix notebook sources with `NotebookLinter.apply`
  src/databricks/labs/ucx/github.py
  src/databricks/labs/ucx/install.py
  src/databricks/labs/ucx/source_code/known.py
  src/databricks/labs/ucx/source_code/linters/base.py
  src/databricks/labs/ucx/source_code/linters/files.py
  src/databricks/labs/ucx/source_code/linters/pyspark.py
  src/databricks/labs/ucx/source_code/notebooks/sources.py
  src/databricks/labs/ucx/source_code/python/python_ast.py
  src/databricks/labs/ucx/source_code/python_libraries.py
  tests/integration/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_base.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_folders.py
  tests/unit/source_code/notebooks/test_sources.py
  tests/unit/source_code/test_notebook.py
  tests/unit/test_github.py
Labels: migrate/python, python, bug/test-infra

#3732 Let `WorkflowLinter.refresh_report` lint jobs from `JobsCrawler`
  src/databricks/labs/ucx/assessment/workflows.py
  src/databricks/labs/ucx/contexts/application.py
  src/databricks/labs/ucx/source_code/linters/jobs.py
  tests/integration/assessment/test_workflows.py
  tests/integration/source_code/test_directfs_access.py
  tests/unit/source_code/test_jobs.py
Labels: step/assessment, migrate/code

#3767 Scope linted dashboards on mock runtime context
  tests/integration/conftest.py
Labels: bug/test-infra, internal

#3789 Let dashboard name adhere to naming convention
  src/databricks/labs/ucx/install.py
  src/databricks/labs/ucx/queries/progress/main/02_0_owner.filter.yml
Labels: feat/installer, bug

#3733 Exclude UCX jobs from crawling
  src/databricks/labs/ucx/assessment/jobs.py
  src/databricks/labs/ucx/contexts/application.py
  src/databricks/labs/ucx/contexts/workflow_task.py
  tests/integration/assessment/test_jobs.py
  tests/integration/conftest.py
  tests/integration/hive_metastore/test_grant_detail.py
  tests/unit/__init__.py
  tests/unit/assessment/test_jobs.py
  tests/unit/hive_metastore/test_pipeline_migrate.py
Labels: step/assessment, migrate/jobs

#3794 Partial revert "Let dashboard name adhere to naming convention"
  src/databricks/labs/ucx/queries/progress/main/02_0_owner.filter.yml
Labels: feat/viz, feat/migration-progress

#3799 Pin dependencies to minor releases
  pyproject.toml
Labels: internal, dependencies

#3795 Partial revert "Let dashboard name adhere to naming convention"
  src/databricks/labs/ucx/install.py
  src/databricks/labs/ucx/installer/mixins.py
  tests/unit/install/test_install.py
Labels: feat/installer
