Repository databrickslabs/ucx, pull requests merged in 2025-01, with the labels that each got.

#3239 Update table-migration workflows to also capture updated migration progress into the history log
  docs/table_persistence.md
  src/databricks/labs/ucx/hive_metastore/table_migrate.py
  src/databricks/labs/ucx/hive_metastore/table_migration_status.py
  src/databricks/labs/ucx/hive_metastore/workflows.py
  tests/integration/hive_metastore/test_ext_hms.py
  tests/integration/hive_metastore/test_workflows.py
  tests/unit/hive_metastore/test_table_migrate.py
  tests/unit/hive_metastore/test_workflows.py
Labels: enhancement, pr/do-not-merge, migrate/external, migrate/managed, migrate/jobs, feat/migration-progress

#3437 Adds existing fixtures to context and change usages accordingly
  tests/integration/conftest.py
  tests/integration/workspace_access/test_workflows.py
Labels: internal

#3450 Exclude ucx dashboards from Lakeview dashboard crawler
  src/databricks/labs/ucx/assessment/dashboards.py
  src/databricks/labs/ucx/contexts/application.py
  tests/unit/assessment/test_dashboards.py
Labels: step/assessment

#3488 Test if known list needs updating
  src/databricks/labs/ucx/source_code/known.json
  src/databricks/labs/ucx/source_code/known.py
  tests/unit/source_code/test_known.py
Labels: internal, test/flaky

#3491 Fix typo in workflow name (in error message)
  src/databricks/labs/ucx/workspace_access/workflows.py
Labels: bug

#3499 Add dummy id for jobs to include on `MockInstallationContext.config`
  tests/integration/conftest.py
Labels: internal, test/flaky

#3424 Add history log encoder for dashboards
  src/databricks/labs/ucx/assessment/dashboards.py
  src/databricks/labs/ucx/contexts/application.py
  src/databricks/labs/ucx/contexts/workflow_task.py
  src/databricks/labs/ucx/framework/owners.py
  src/databricks/labs/ucx/hive_metastore/tables.py
  src/databricks/labs/ucx/progress/dashboards.py
  src/databricks/labs/ucx/progress/tables.py
  src/databricks/labs/ucx/progress/workflows.py
  tests/integration/assessment/test_dashboards.py
  tests/integration/framework/test_owners.py
  tests/integration/progress/test_dashboards.py
  tests/integration/progress/test_tables.py
  tests/integration/progress/test_workflows.py
  tests/unit/assessment/test_dashboards.py
  tests/unit/framework/test_owners.py
  tests/unit/hive_metastore/test_tables.py
  tests/unit/progress/test_dashboards.py
  tests/unit/progress/test_tables.py
Labels: feat/migration-progress

#3498 Create specific failure for Python syntax error while parsing with Astroid
  README.md
  src/databricks/labs/ucx/source_code/python/python_ast.py
  tests/unit/source_code/notebooks/test_cells.py
  tests/unit/source_code/test_notebook.py
Labels: migrate/code

#3485 Schedule the migration progress workflow to run daily
  README.md
  src/databricks/labs/ucx/framework/tasks.py
  src/databricks/labs/ucx/install.py
  src/databricks/labs/ucx/installer/workflows.py
  src/databricks/labs/ucx/progress/workflows.py
  src/databricks/labs/ucx/queries/progress/main/00_0_migration_progress.md
  src/databricks/labs/ucx/runtime.py
  tests/integration/cmds.py
  tests/integration/conftest.py
  tests/integration/progress/test_workflows.py
  tests/integration/recon/test_migrate_recon.py
  tests/unit/install/test_install.py
  tests/unit/install/test_install_dashboards.py
  tests/unit/installer/test_workflows.py
  tests/unit/progress/test_workflows.py
  tests/unit/test_workflows.py
Labels: documentation, enhancement

#3529 Delete stale code: `NotebookLinter._load_source_from_run_cell`
  src/databricks/labs/ucx/source_code/notebooks/sources.py
Labels: migrate/code, migrate/python

#3524 Rename Python AST's `Tree` methods for clarity
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/jobs.py
  src/databricks/labs/ucx/source_code/python/python_analyzer.py
  src/databricks/labs/ucx/source_code/python/python_ast.py
  tests/unit/source_code/python/test_python_ast.py
Labels: migrate/code

#3508 Make link to issue template url safe
  src/databricks/labs/ucx/source_code/python/python_ast.py
Labels: migrate/code

#3554 Let `PipelinesMigrator` skip unfound jobs
  src/databricks/labs/ucx/hive_metastore/pipelines_migrate.py
  tests/integration/hive_metastore/test_pipeline_migrate.py
  tests/unit/hive_metastore/test_pipeline_migrate.py
Labels: feat/workflow, internal

#3561 Skip integration test that compares remote and local version on release branch
  tests/integration/install/test_installation.py
Labels: internal

#3589 Remove the linting false positive for missing table format warning when using `spark.table`
  src/databricks/labs/ucx/source_code/linters/table_creation.py
  tests/unit/source_code/linters/test_files.py
  tests/unit/source_code/linters/test_table_creation.py
  tests/unit/source_code/samples/functional/_child_that_uses_missing_value.py
  tests/unit/source_code/samples/functional/_child_that_uses_value_from_parent.py
  tests/unit/source_code/samples/functional/es-1285042.py
  tests/unit/source_code/samples/functional/pyspark/spark-table.py
  tests/unit/source_code/samples/functional/spark-connect/_child_that_uses_missing_value.py
  tests/unit/source_code/samples/functional/table-access.py
  tests/unit/source_code/samples/functional/table-access.sql
  tests/unit/source_code/samples/functional/table-migration/table-migration-notebook.py
  tests/unit/source_code/samples/functional/values_across_cells.py
  tests/unit/source_code/samples/functional/values_across_notebooks_dbutils_notebook_run.py
  tests/unit/source_code/samples/functional/values_across_notebooks_magic_line.py
  tests/unit/source_code/samples/functional/values_across_notebooks_run_cell.py
  tests/unit/source_code/samples/parent-child-context/child.py
  tests/unit/source_code/test_jobs.py
Labels: migrate/code, migrate/python, python

#3588 Extend code migration progress documentation
  docs/ucx/docs/process/index.mdx
  docs/ucx/docs/reference/commands/index.mdx
Labels: documentation, migrate/code

#3583 Align `DependencyProblem` with `LocatedAdvice`
  src/databricks/labs/ucx/source_code/base.py
  src/databricks/labs/ucx/source_code/graph.py
  src/databricks/labs/ucx/source_code/jobs.py
  src/databricks/labs/ucx/source_code/linters/files.py
  tests/integration/source_code/solacc.py
  tests/integration/source_code/test_graph.py
  tests/unit/source_code/test_base.py
  tests/unit/source_code/test_graph.py
  tests/unit/source_code/test_jobs.py
Labels: migrate/code, migrate/python, python, internal
